* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.nav-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    width: 100%;
    height: auto;
    background-color: #F2F2F2;
    font-size: 14px;
    flex-wrap: wrap;
    position: fixed;
    box-shadow: 0 3px 6px lightgrey;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}

.nav-item {
    padding: 10px 35px;
    font-weight: 600;
}

.nav-item1 {
    padding: 10px 35px;
    font-weight: 600;
    background-color: black;
    color: white;
}

.placements {
    margin: 100px 0 10px 0;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    color: green;
    align-items: center;
    justify-content: center;
}

.placements p {
    background-color: black;
    color: white;
    padding: 8px 30px;
    box-shadow: 0 4px 1px lightgrey;
    border-radius: 40px;
    text-align: center;
}

.placement-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 60px 0 60px;
    padding: 40px 0;
}

img {
    border-radius: 10px;
}

.placement-item {
    margin: 10px;
    box-shadow: 0 3px 6px lightgrey;
    border-radius: 10px;
}